.calendar-table-cols:nth-child(even) {
    background-color: #FF85AE;
}

.calendar-table-cols:nth-child(odd) {
    background-color: #8C97D2;
}

.key-1 {
    background-color: #FF85AE !important;
}

.key-2 {
    background-color: #8C97D2 !important;
    margin-left: 10px;
}

mat-toolbar p {
    font-size: 12px;
}

.loan-summary-col {
    background-color: #FF85AE;
    padding: 16px;
}

.lease-summary-col {
    background-color: #8C97D2;
    padding: 16px;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}
